body
{
    background-color: black;
}

canvas
{
    background-color: silver;
    border: 1px solid blue;
    border-radius: 10px;
    margin-left: 20%;
}

.game
{
    width:80%;
    margin: 0 auto;
}